<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
<head>

    <title>
        [% title %]
    </title>


    <!-- link rel="stylesheet" href="/css/skeleton/base.css" -->
    <link rel="stylesheet" href="/css/skeleton/skeleton.css" />
    <link rel="stylesheet" href="/css/skeleton/layout.css" />
    <link rel="stylesheet" href="/css/wjournal_skeleton.css" />
    <link rel="stylesheet" href="/css/wjournal.css" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="/feed/" />

</head>
<body>

    <div class="container">

        <div class="three columns offset-by-one">
            <h3>
                <a href="/" class="title_link">[% app %]</a>
            </h3>
            <h6>
                <a href="/" class="title_link">[% byline %]</a>
            </h6>
            </a>

            <form action="/search" method="post">
                <img src="/images/iconic/black/magnifying_glass_16x16.png" class="icon" /> <input type="text" name="terms" class="lesswidth">
            </form>
            <a href="/feed/" class="title_link"><img src="/images/iconic/black/rss_16x16.png" class="icon" />Subscribe</a>

        </div>

        <div class="ten columns offset-by-one">
            [% content %]

            [% IF older %]<a href="[% older %]">&lt; Older</a>[% END %]
            [% IF newer %]<a href="[% newer %]">Newer &gt;</a>[% END %]
        </div>

    </div>
</body>
</html>
