textarea.fullwidth {
    box-sizing:     border-box;
    width:          100%;
}

input[type=text].fullwidth {
    box-sizing:     border-box;
    width:          100%;
}

input[type=text].lesswidth {
    box-sizing:     border-box;
    width:          85%;
}

pre {
    white-space: pre-wrap;
}

code {
    font-size:  12px;
}

.success1 {
    background-color: #CCFF99;
    font-weight:      bold;
}

.success0 {
    background-color: #FFCCCC;
    font-weight:      bold;
}

img.icon {
    float: left;
    padding-right: 5px;
    padding-top: 3px;
    display: inline-block;
}

img.gravatar {
    float: left;
    padding-right: 3px;
}

.caption {
    background-color: #E8E8E8;
    text-align: center;
    font-style: italic;
    margin-bottom: 10px;
}

a.title_link {
    text-decoration: none;
}

a.title_link:hover {
    text-decoration: underline;
}
